<img src="../assets/img/BobsBurgers.png" alt="BobsBurgers Logo">

<h1>Eat-Da-Burger!</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
      <h3>Ready to Eat!</h3>
      <div id="ready_to_eat">
        {{#each burger}}
          {{#unless this.devoured}}
            <ul>
              <div>
                <form method="POST" action="/burgers/update?_method=PUT">
                  <input type="hidden" name="devoured" value="true">
                  <input type="hidden" type="text" name="burger_id" value={{this.id}}>
               
                  <li class="form-control">{{this.id}}. {{this.burger_name}} </li>
                  <input class="custInput" type="text" name="customer" placeholder="Customer?">
                  <button class="btn btn-primary" type="submit">Devour it!</button>
                </form>
              </div>
           </ul>
          {{/unless}}
        {{/each}}
      </div>
    </div>

    <div class="col-md-4 col-lg-4">
      <h3>Devoured Burgers!</h3>
        {{#each burger}}
          {{#if this.devoured}}
            {{#if this.Customer.customer}}
              <li class="form-control"> {{this.id}}. {{this.burger_name}}  (Eaten by {{this.Customer.customer}}) </li>
            {{else}}
              <li class="form-control"> {{this.id}}. {{this.burger_name}} </li>
            {{/if}}
          {{/if}}
        {{/each}}
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <form class="create-update-form" action="/burgers/create" method="POST">
      <div class="form-group"><br>
        <label form="bu">Burger Name:</label>
        <input type="text" size=50 id="bu" name="burger_name">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <h5>Enter a burger you want to eat then click the "Submit" button.</h5>
    </form>
  </div>
</div>